body{
    background: black;
}

h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

p{
    color: white;
    text-align: center;
    margin: 0;
}

img{
    border: 5px solid white;
    width: 100%
}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%
}